html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: SansR;
    src: url(/Assets/Fonts/open-sans-v35-latin-regular.woff2);
}

@font-face {
    font-family: Sans700;
    src: url(/Assets/Fonts/open-sans-v35-latin-700.woff2);
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px;
    border-bottom: 1px solid #828282;

}

.site-navigation {
    max-width: 496px;
    max-height: 30px;
    gap: 40px;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: SansR;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    font-family: SansR;
    letter-spacing: 0.02em;
    line-height: 25px;
    font-size: 18px;
    color: #828282;
}

.intro {
    padding-top: 12px;

}

.my-name {
    font-family: Sans700;
    font-size: 48px;
    line-height: 65px;
    padding-bottom: 50px;
}

h2 {
    font-family: Sans700;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

p {
    font-family: SansR;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.about {
    display: flex;
    margin: 0 auto;
    background-color: #F6F6f6;
    padding-bottom: 50px;
}

.about-title {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-p {
    max-width: 480px;
    max-height: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

}

.skills {

    display: flex;
    margin: 0 auto;
    padding-bottom: 150px;

}

.skills-title {
    padding-top: 80px;

}

.skills-p {
    padding-top: 10px;
}


.skills-p-img {
    font-family: Sans700;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #828282;
}

.skills-img {

    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    font-family: SansR;
    letter-spacing: 0.02em;
    justify-content: space-between;

}

#photoshop {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

#illustrator {
    padding-top: 25px;
    padding-bottom: 60px;
}

#after-effects {
    padding-top: 25px;
    padding-bottom: 60px;
}

#figma {
    padding-top: 25px;
    padding-bottom: 80px;
}

.skills-div {
    max-width: 230px;
    max-height: 170px;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    display: flex;

}

.portfolio {
    background-color: #F6F6f6;
}

.portfolio-title {
    padding-top: 80px;
    padding-bottom: 50px;
}

.portfolio-p {
    text-decoration-line: underline;
    max-width: 200px;
    max-height: 50px;
    margin-left: 385px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.contacts-box {
    max-width: 970px;
    max-height: 400px;
    padding-top: 100px;
    text-align: center;
}

.contacts-title {
    padding-bottom: 20px;
}

.contacts-p {
    font-family: SansR;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}


.button-cont {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 22px;
    color: white;
    font-family: Sans700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1rem;
    padding: 10px 10px;
    margin-top: 60px;
}

.social-icon {
    flex-direction: row;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}


.social-p {
    font-family: SansR;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    padding-top: 60px;
    padding-bottom: 100px;
}