@use "./variables" as var;
// @mixin section-padding {
//     padding-inline: 300px;
// }
@mixin mobile-screen {
    @media screen and (max-width: var.$tablet-screen) {
        @content;
    }
}

@mixin tablet-screen {
    @media screen and (max-width: var.$desktop-screen) {
        @content;
    }
}

@mixin section-padding {
    padding-inline: var.$desktop-inline-padding;
    @include tablet-screen {
        padding-inline: var.$tablet-inline-padding;
    }
    @include mobile-screen {
        padding-inline: var.$mobile-inline-padding;
    }
}

@mixin text-josefin-bold($font-size, $line-h, $letter-spacing, $color: var.$white) {
    font-family: "JosefinSans";
    font-size: $font-size;
    font-style: normal;
    font-weight: 700;
    line-height: $line-h;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $color;
}

@mixin text-josefin($font-size, $line-h, $letter-spacing, $color: var.$white) {
    font-family: "JosefinSans";
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: $line-h;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin text-josefin-light($font-size, $line-h, $letter-spacing, $color: var.$white) {
    font-family: "Josefin-light";
    font-size: $font-size;
    font-style: normal;
    font-weight: 300;
    line-height: $line-h;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin text-aleo($font-size, $line-h, $letter-spacing, $color: var.$white) {
    font-family: "Aleo";
    font-size: $font-size;
    line-height: $line-h;
    font-style: normal;
    font-weight: 400;
    color: $color;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
}

// @mixin title-aleo($size) {
//     font-family: "Aleo";
//     font-size: $size;
//     line-height: 40px;
//     font-style: normal;
//     font-weight: 400;
//     color: white;
//     text-transform: capitalize;
// }
@mixin bg-settings($size) {
    min-height: $size;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flex {
    display: flex;
}

@mixin position-center {
    justify-content: center;
    align-items: center;
}

@mixin button-wh {
    width: 213px;
    height: 60px;
    background-color: var.$blue;
}

@mixin button-wh-mobile {
    max-width: 100px;
    max-height: 40px;
    background-color: var.$blue;
}
