$desktop-screen: 1440px;
$tablet-screen: 768px;
$mobile-screen: 320px;
$desktop-inline-padding: 300px;
$tablet-inline-padding: 30px;
$mobile-inline-padding: 10px;
$white: #ffffff;
$blue: #5373fd;
$bold-blue: #486bfe;
$dark-gray: #333333;
$light-black: #232323;
$black: #000000;
