$dark-green: #52c29d;
$middle-green: #caeff2;
$light-green: #e1f4f5;
$lighten-green: #f4feff;
$dark-blue: #007ffc;
$middle-blue: #b9dcff;
$light-blue: #d1e7ff;
$lighten-blue: #e8f3ff;
$black: #16133d;
$white: white;

$site-header-height: 80px;
$site-footer-heigth: 200px;
$site-inline-padding: 135px;
$site-section-padding: 100px;
