

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;

  &__information{
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: 50px;
    width: 50px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ul {
   display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__li {
    list-style: none;
  }

}
