@use "./variables" as var;
@use "./mixins" as mix;

@font-face {
    font-family: OpenSansReg;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSansIt;
    src: url(../assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: MontserratReg;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

.header {
    @include mix.bg-settings(800px);
    background-image: url(../assets/images/header-bgv2.svg);
    flex-direction: column;
    @include mix.section-padding;

    &__arrow {
        margin: 0 auto;
        display: flex;
        margin-top: 620px;
        height: 40px;
        width: 40px;
    }
}
.navigation {
    padding-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
        list-style: none;
    }
    &__li {
        @include mix.text-OpenSansReg(14px, normal, normal);
        text-decoration: none;
        text-transform: uppercase;
    }
    &__social {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.slider {
    &__title {
        @include mix.text-MontserratBold(80px, normal, 8px);
        padding-bottom: 20px;
        @include mix.tablet-screen {
            @include mix.text-MontserratBold(50px, normal, 6px);
        }
    }
    &__subtitle {
        @include mix.text-MontserratReg(18px, normal, 5.4px);
        @include mix.tablet-screen {
            @include mix.text-MontserratReg(14px, normal, 3.5px);
        }
    }
}

.projects {
    padding-top: 130px;
    @include mix.section-padding;

    &__architecture-card {
        position: relative;
        width: 630px;
        height: 470px;

        &--bg {
            position: absolute;
            top: 40%;
            left: 0%;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover;
            @include mix.tablet-screen {
                display: none;
            }
        }
    }

    &__title {
        text-align: center;
        padding-bottom: 90px;
        position: relative;
        @include mix.text-MontserratBold(44px, normal, normal, var.$black);
        text-transform: uppercase;
    }

    &__title::before {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 100px;
        border-top: 1px solid #2c4058;
        content: "";
        transform: translate(-50%, -50%);
    }

    &__trade-center {
        display: flex;
        gap: 70px;
        @include mix.tablet-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__commerce {
        padding-top: 200px;
        display: flex;
        flex-direction: row-reverse;
        @include mix.tablet-screen {
            gap: 70px;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 130px;
        }
    }

    &__commerce-card {
        position: relative;
        width: 630px;
        height: 470px;

        &--bg {
            position: absolute;
            top: -60%;
            right: 0%;
            transform: translate(50%, 50%);
            z-index: -1;
            object-fit: cover;
            @include mix.tablet-screen {
                display: none;
            }
        }
    }
}

.about-center,
.about-commerce {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 490px;
    @include mix.tablet-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-commerce {
        @include mix.tablet-screen {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__subtitle {
        @include mix.text-MontserratReg(22px, normal, normal, var.$black);
        text-transform: uppercase;
        @include mix.tablet-screen {
            padding-bottom: 20px;
        }
    }

    &__title {
        padding-bottom: 20px;
        @include mix.text-MontserratBold(44px, normal, normal, var.$black);
        text-transform: uppercase;
    }

    &__text {
        padding-bottom: 40px;
        @include mix.text-OpenSansReg(18px, 30px, normal, var.$black);
        @include mix.tablet-screen {
            text-align: center;
        }
    }

    &__small > a {
        text-decoration: none;
        @include mix.text-OpenSansIt(15px, normal, normal, var.$black);
    }

    &__button {
        margin-bottom: 60px;
        width: 190px;
        height: 50px;
        border: 1px solid #2c4058;
        @include mix.text-MontserratReg(14px, normal, normal, var.$black);
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }
}

.news {
    @include mix.section-padding;
    margin: 0 auto;
    padding-top: 150px;
    background: url(../assets/images/news-bg.svg);
    @include mix.bg-settings(978px);

    &__title {
        text-align: center;
        padding-bottom: 90px;
        position: relative;
        @include mix.text-MontserratBold(44px, normal, normal);
        text-transform: uppercase;
    }

    &__title::before {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 100px;
        border-top: 1px solid #fff;
        content: "";
        transform: translate(-50%, -50%);
    }
}

.news-slider {
    &__title {
        @include mix.text-MontserratBold(22px, normal, normal, var.$black);
        text-transform: uppercase;
        @include mix.tablet-screen {
            @include mix.text-MontserratBold(16px, normal, normal, var.$black);
        }
    }
    &__subtitle {
        @include mix.text-OpenSansReg(18px, 20px, normal, var.$black);
        @include mix.tablet-screen {
            @include mix.text-OpenSansReg(14px, 15px, normal, var.$black);
        }
    }

    &__name {
        @include mix.text-MontserratReg(18px, normal, normal, var.$black);
        text-transform: uppercase;
    }

    &__date {
        @include mix.text-MontserratReg(14px, normal, normal, var.$blue);
    }
}

.gallery {
    padding: 215px;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        padding-bottom: 90px;
        position: relative;
        @include mix.text-MontserratBold(44px, normal, normal, var.$black);
        text-transform: uppercase;
    }

    &__title::before {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 100px;
        border-top: 1px solid #2c4058;
        content: "";
        transform: translate(-50%, -50%);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(2);
        gap: 10px;
        justify-content: center;
    }

    &__grid > img {
        width: 100%;
    }

    &__grid > img:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    &__grid > img:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    &__grid > img:nth-child(3) {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    &__grid > img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    &__grid > img:nth-child(5) {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 75px;
        width: 190px;
        height: 50px;
        border: 1px solid #2c4058;
        @include mix.text-MontserratReg(14px, normal, normal, var.$black);
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }
}

#map {
    height: 700px;
    width: 100%;
}

.footer {
    position: relative;
    @include mix.section-padding;

    &__bg {
        @include mix.bg-settings(549px);
        background: url(../assets/images/footer-bg.svg) 0 0/100% no-repeat;
        @include mix.section-padding;
    }

    &__content {
        padding-top: 200px;
        padding-inline: 415px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mix.section-padding;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__social {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    &__info {
        width: 770px;
        height: 450px;
        margin: 0 auto;
        position: absolute;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__title {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 40px;
        position: relative;
        @include mix.text-MontserratBold(44px, normal, normal, var.$black);
        text-transform: uppercase;
    }
    &__title::before {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 100px;
        border-top: 1px solid #2c4058;
        content: "";
        transform: translate(-50%, -50%);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-inline: 60px;
        @include mix.section-padding;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: start;
    }

    &__contacts > p,
    &__contacts > a {
        @include mix.text-MontserratReg(18px, 28px, normal, #000);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: start;
        align-items: end;
    }

    &__input {
        border: none;
        border-bottom: 2px solid gray;
        position: relative;
        height: 40px;
    }

    &__input::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }

    &__form > input::placeholder {
        @include mix.text-MontserratReg(18px, 27px, normal, #000);
        opacity: 0.5;
    }

    &__form > input::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    &__button-pos {
        display: flex;
        justify-content: end;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 140px;
        height: 50px;
        border: 1px solid #2c4058;
        @include mix.text-MontserratReg(14px, normal, normal, var.$black);
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }

    &__small {
        @include mix.text-MontserratReg(14px, normal, normal);
    }
}
