@use "./variables" as var;

@mixin border($color) {
    border: 1px solid $color;
}

@mixin flex {
    display: flex;
}

@mixin flex-position-center {
    justify-content: center;
    align-items: center;
}
