/* Grouping selector */
.class2,
#p2,
p,
[href] {
  color: cornflowerblue;
}

/* Compound selector */
p.class3 {
  color: goldenrod;
}

/*  */
/* Combinator selectors*/
/*  */
/* Descendant combinator */
div span {
  color: coral;
}

/* Child combinator */
div>span {
  color: crimson;
}

/* General sibling combinator */
div~span {
  color: darkblue;
}

/* Adjacent sibling combinator */
div+p {
  color: darkkhaki;
}