/* Grouping selector */
.class,
#p2,
h3,
[data-text] {
    color: cornflowerblue;
}

/* Compound selector */
p.class3 {
    color: goldenrod;
}

/* Desedant combinator */

div span {
    color: coral;
}

/* Child combinator */

div>span {
    color: aqua;
}

/* General sibling combinator */
div~span {
    color: darkolivegreen;
}

/* !-- Adjacent sibling combinator --> */

div+p {

    color: yellowgreen;

}